.topbar {
  padding: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  display: grid;
  grid-template-columns: repeat(2, min-content) auto;
  gap: 0.5em;
}

.topbar a {
  cursor: pointer;
  
  color: black;
  text-decoration: none;

  padding: 0.5em;
  border-radius: 4px;

  transition: all 0.1s ease-in;

  display: flex;
  align-items: center;
  gap: 0.5em;
}

.topbar a:hover,
.topbar a.active {
  color: white;
  background-color: black;
}

.topbar a:last-child {
  justify-self: end;
}
