@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --line: #e1e1e1;

  color: #111727;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  background-color: #fffdff;
}

hr {
  border: none;
  border-top: 1px solid var(--line);
}

h1 {
  padding: 0.5em;
}

/* Formulários */
.form-control {
  display: block;
  width: 100%;

  font-size: medium;

  padding: 0.9em 0.5em;
  border-color: var(--line);
  border-width: 0 0 1px 0;

  outline: none;
}

.form-label {
  font-size: small;
  color: rgb(87, 86, 86);
}

.form-control-check {
  display: flex;
  align-items: center;
  gap: 0.35em;
}

/* Botões */

.btn {
  cursor: pointer;

  padding: 0.75em;
  background-color: inherit;
  border: 1px solid var(--line);
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75em;
}

.btn-dark {
  color: white;
  background-color: #111727;
}