/* Colors */

:root {
  --line: #e1e1e1;

  --green: #5bd50e;
  --green-bg: #ddfad6;

  --purple: #9256df;
  --purple-bg: #eddfff;

  --blue: #61a7ff;
  --blue-bg: #dfeeff;
  
  --orange: #ff7d80;
  --orange-bg: #ffe6e7;
}

.green {
  --color: var(--green);
  --bg-color: var(--green-bg);
}

.purple {
  --color: var(--purple);
  --bg-color: var(--purple-bg);
}

.blue {
  --color: var(--blue);
  --bg-color: var(--blue-bg);
}

.orange {
  --color: var(--orange);
  --bg-color: var(--orange-bg);
}
