/* Tabs */

.tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;

  margin-bottom: 1em;
  border-bottom: 1px solid var(--border-color);
}

.tab-link {
  padding: 0 0em 1em 0.1em;
  border-bottom: 1px solid transparent;

  display: flex;
  align-items: center;
  gap: 0.5em;
}

.tab-link.active {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}
