* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel {
  position: relative;
  padding: 0.5em;
}

.carousel .images {
  position: relative;

  width: 750px;
  height: 350px;
  overflow: hidden;

  box-shadow: 3px 10px 15px 0px rgba(0, 0, 0, 0.4);
}

.carousel .images ul {
  display: flex;
  list-style: none;
  transition: all 0.8s ease;
}

.carousel .images img {
  width: 750px;
  height: 350px;

  object-fit: cover;
}
